* {
    box-sizing: border-box;  
}

body{
    display: flex;
    flex-direction: column;
    min-height: 25vh;
    justify-content: space-between;
}

header {
    padding: 40px;
    text-align: center;
    background: cornsilk;
  }

nav {
    display: flex;
    justify-content: space-between;
    margin: 5px;
    border: 3px;
    border-style: groove;
    border-color: blanchedalmond;
    padding: 20px;
    flex-grow: 1;
    flex-shrink: 0;
    flex-basis: 200px;
}

main{
    display: flex;
    flex-wrap: wrap;
    flex-grow: 1;
}
section{
    display: flex;
    flex: 0 0 400px;
    background-color: pink;
    border: solid;
    border-style: double;
    border-color: blue;
    padding: 20px;
}
.proud{
    padding-left: 10px;
}
.family{
    padding-left: 10px;
}
img{
    padding: 5px;
    height: 140px;
    background: cornsilk;
}

aside{
    display: flex;
    flex-wrap: wrap;
    background: orange;
    text-align: center;
}

@media screen and (max-width: 768px) {
    /* Use flex-direction to stack the navbar, sidebar, and body */
    main,
    nav {
      flex-direction: column;
    }
    
    aside {
      order: 2;
    }
}