* {
    box-sizing: border-box;  
}

body{
    word-wrap: inherit;
    display: flex;
    box-sizing: 25px;
    flex-direction: column;
    min-height: 25vh;
    justify-content: space-between;
}

header {
    border-width: 1px;
    padding: 10px;
    float: inline-start;
}
h1{
    text-align: center;
}

nav {
    display: flex;
    padding: 15px;
    justify-content: space-between;
    background-color: skyblue;
    font-family: serif;
    width: 100%;
    float: inline-end;
    border-style: solid ;
}

.accoplishments{ 
    margin: 2%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    background-color: aqua;
}

img{
    display: flex;
    height: 100%;
    width: 100%;
}

@media screen and(max-width: 992px) {
    nav{
        width: 50%;
    }
}

@media screen and(max-width: 768px) {
    main{
        width: 100%;
    }
}
@media screen and(max-width: 556px) {
    main{
        width: 100%;
    }
}